<div class="container-fluid" s>
  <br /><br />
  <center>
    <div class="card col col-lg-4">
      <div class="card-header">
        <h1>Auto Dispenser</h1>
      </div>
      <div class="card-body">
        <div class="col sm-5">
          <div style="margin:15px;">
            <a href="/signin" class="btn btn-danger btn-lg " id="btnSigninEmail"
              ><i class="fas fa-envelope"> </i> Sign in with <b>Email</b>
            </a>
          </div>
          <div style="margin:15px;">
            <a
              href="/fingerauth"
              class="btn btn-primary btn-lg "
              id="btnSigninFingerprint"
              ><i class="fas fa-fingerprint"></i> Sign in with
              <b>Fingerprint</b></a
            >
          </div>
        </div>
      </div>
    </div>
  </center>
</div>
