<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
    <script src="javascripts/fingerauth.js"></script>
    <!------ Include the above in your HEAD tag ---------->
  </head>

  <body>
    <div class="container-fluid" s>
      <br /><br />
      <center>
        <div
          class="card bg-light mb-3"
          style="max-width: 25rem;"
          id="signinWithFingerprint"
        >
          <div class="card-header" style="font-size:30px;">
            <strong>Sign in with Fingerprint</strong>
          </div>
          <div class="card-body">
            <img
              src="images/fingerScan.png"
              style="width:250px;height:250px"
              alt=""
            />
            <br /><br />
            <a class="btn btn-primary text-white btn-lg" id="btnFPScan">Scan</a>
            <br /><br />
            <div
              id="load"
              class="spinner-border text-primary "
              style="width: 3rem; height: 3rem;"
              role="status"
            ></div>
          </div>
        </div>
      </center>
    </div>
  </body>
</html>
